<DocsHero/>

<div class="docs-bg-white docs-container docs-w-full long-container">
  <DocsDemo as |demo|>
    <demo.example @name="did-intersect.hbs">
      <p
        class="intersection-box"
        {{did-intersect onEnter=this.onEnteringIntersection}}
      >
        Number of times this box has intersected the screen: {{this.numIntersections}}
      </p>
    </demo.example>
    {{demo.snippet "did-intersect.hbs" label="plain example.hbs"}}

    <demo.example @name="did-intersect-with-max-enter.hbs">
      <pre
        class="intersection-box"
        {{did-intersect onEnter=this.onEnteringIntersectionWithMaxEnter maxEnter=this.maxIntersections}}
      >
        Number of times this box has intersected the screen: {{this.numIntersectionsWithMaxEnter}}

        The max limit of enter intersection callbacks on this box: {{this.maxIntersections}}
      </pre>
    </demo.example>
    {{demo.snippet "did-intersect-with-max-enter.hbs" label="example with max enter.hbs"}}

    <demo.example @name="scroll-into-view.hbs">
      <div
        class="scroll-into-view"
        {{scroll-into-view shouldScroll=this.shouldScrollIntoView}}
      >
        <button type="button" class="scroll-into-view__button" {{on "click" this.onScrollIntoViewTrigger}}>
          Trigger Scroll-into-view on click
        </button>
      </div>
    </demo.example>
    {{demo.snippet "scroll-into-view.hbs" label="scroll-into-view example.hbs"}}
  </DocsDemo>

</div>

<footer>
  <a href="https://www.netlify.com">
    <img src="https://www.netlify.com/img/global/badges/netlify-light.svg" alt="Deploys by Netlify" />
  </a>
</footer>